@model formularz.Models.Dane
@{
    ViewBag.Title = "Rejestracja zakończona pomyślnie";
}

<h2>Rejestracja zakończona pomyślnie</h2>
<h4>Witamy na naszej stronie @Model.Imie @Model.Nazwisko</h4>
<p>Dziękujemy za zarejestrowanie się.</p>
